@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IranSans";
  src: url("./fonts/IRANSansXMedium.ttf");
}

@font-face {
  font-family: "IranNastaliq";
  src: url("./fonts/IranNastaliq.ttf");
}
